@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Proxima-Nova", "proximanova-bold", "Segoe-Script" !important;
  min-height: 100vh !important;
  weight: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/***************** Font family ********************/

@font-face {
  font-family: "Proxima-Nova";
  src: url("/fonts/Proxima Nova Font.otf"), format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("/fonts/proximanova-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  color: var(--black, #383838);
  line-height: normal !important;
}
h2 {
  font-size: 1.5em;
}
p {
  line-height: normal !important;
}
btuton {
  -webkit-appearance: button;
  background-color: #ff8f2f !important ;
  background-image: none;
  border-radius: 5px;
  border: 1px solid #b9b9b9;
}

/* Font Sizes  */

.buttonFont {
  font-size: 1vw;
}
.fs-18 {
  font-size: 1vw;
  font-family: "Proxima-Nova";
  font-weight: normal;
}
.fs-16 {
  font-size: 0.833vw;
  font-family: "Proxima-Nova";
  font-weight: normal;
}

.unCheckedColor {
  color: red;
}

.CheckedColor {
  color: blue;
}

@media only screen and (max-width: 600px) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    font-family: "Proxima-Nova", "proximanova-bold", "Segoe-Script" !important;
    min-height: 100% !important;
    weight: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .buttonFont {
    font-size: 16px;
  }
  .fs-18 {
    font-size: 16px;
    font-family: "Proxima-Nova";
    font-weight: normal;
  }
  .fs-16 {
    font-size: 14px;
    font-family: "Proxima-Nova";
    font-weight: normal;
  }
}
